body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    overflow: auto;
    color: white;

}

.main-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 20, 20, 0.916);
}

.main {
    width: 600px;
    height: 645px;
    margin: 150px auto;
    background-color: black;
    border-radius: 15px;
}

.main-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}


.icon {

    text-align: start;
    width: 100%;
    margin-top: 10px;
}

.icon span {
    margin-top: 15px;
    padding-top: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 65px;
    color: white;
    font-weight: bolder;
    margin-bottom: 25px;
}


.a {


    margin-top: 60px;
    color: white;
    font-size: 1rem;
}

.b {

    margin-top: 50px;
    font-size: 20px;
    font-weight: 900;


}

.c-1 {
    position: relative;
}

label {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: 0;


}

.c-1 input {
    float: right;

    width: 20%;
    height: 20px;
    border-radius: 10px;
    vertical-align: bottom;
    position: relative;
    top: -40px;
    right: -39px;
    font-size: 200px;


}

.c p {
    color: gray;
    font-size: 11px;
    font-weight: 500;
    line-height: .9rem;
}

.c a {
    text-decoration: none;
    color: dodgerblue;
}